<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pilot.project.mapper.RestMapper">
    <select id="getUserBas" resultType="Map">
        SELECT
            ismart_id AS "ismartId",
            user_nm AS "userNm",
            user_type AS "userType"
        FROM ems.user_bas
    </select>

    <select id="getOptCpower" parameterType="Map" resultType="Map">
        SELECT
               tgt_month AS "tgtMonth",
               max_power AS "maxPower",
               opt_power AS "optPower",
               delta_power AS "deltaPower"
        FROM ems.opt_peak
        WHERE cust_no = #{ismartId}
        AND anals_date = (SELECT MAX(anals_date) FROM ems.opt_peak WHERE cust_no = #{ismartId})
        ORDER BY tgt_month::NUMERIC asc
    </select>

</mapper>
